.rowsListHomepage{color:;}
.rowsListHomepage:hover {color:;}	/* 마우스 오버시 글자색 설정 */


/* ================ [ 갤러리, 포토형 ] =================== */

/* upso_list_photo01.html */
/* ---[ 프리미엄업체 정보 1 ]--- */
.rowsInfoPhotoN01{font-size:12px;color:#003663; font-weight:600;}
.rowsInfoPhotoN01:hover{text-decoration:none;}
.rowsInfoPhotoN01Td1{padding:7px 6px 3px 6px; line-height:15px;}
.rowsInfoPhotoN01Td2{padding:7px 12px 5px 12px; height:37px; font-size:11px; color:#555; text-align:justify;}

/* upso_list_photo02.html */
/* ---[ 프리미엄업체 정보 2 ]--- */
.rowsInfoPhotoN02{font-size:12px;color:#003663; font-weight:600;}
.rowsInfoPhotoN02:hover{text-decoration:none;}
.rowsInfoPhotoN02Td1{padding:3px 6px 0 6px; line-height:14px; text-align:center;}

/* upso_list_photo03.html */
/* ---[ 프리미엄업체 정보 3 ]--- */
.rowsInfoPhotoN03{font-size:12px;color:#003663; font-weight:600;}
.rowsInfoPhotoN03:hover{text-decoration:none; }
.rowsInfoPhotoN03Td{padding:4px 0 0 0; line-height:14px;}
.rowsInfoPhotoN03div{width:100%;font-size:11px; color:#555; text-align:; padding-right:10px;}

/* upso_list_photo04.html */
/* ---[ 추천업체 정보 1 ]--- */
.rowsInfoPhotoN04{font-size:12px;color:#007130; font-weight:600;}
.rowsInfoPhotoN04:hover{text-decoration:none; }
.rowsInfoPhotoN04Td{padding:4px 0 0 0; line-height:15px;}
.rowsInfoPhotoN04div{width:100%;font-size:11px; color:#555; text-align:; padding-right:10px;}
.rowsInfoPhotoN04div2{margin:0 0 5px 0;}

/* upso_list_photo05.html */
/* ---[ 추천업체 정보 2 ]--- */
.rowsInfoPhotoN05{font-size:12px;color:#024F1E; font-weight:600;}
.rowsInfoPhotoN05:hover{text-decoration:none;}
.rowsInfoPhotoN05Td1{padding:1px; border-width:1px; border-style:solid; border-color:#CCC; background-color:white;}
.rowsInfoPhotoN05Td2{padding:3px 6px 0 6px; line-height:14px; text-align:center;}

/* upso_list_photo06.html */
/* ---[ 신규업체 정보 1 ]--- */
.rowsInfoPhotoN06{font-size:12px;color:#024F1E; font-weight:600;}
.rowsInfoPhotoN06:hover{text-decoration:none;}
.rowsInfoPhotoN06font{font-size:11px; color:#555; line-height:12px;}

/* upso_list_photo07.html */
/* ---[ 신규업체 정보 2 ]--- */
.rowsInfoPhotoN07{font-size:12px;color:#024F1E; font-weight:600;}
.rowsInfoPhotoN07:hover{text-decoration:none;}
.rowsInfoPhotoN07Td1{padding:1px; border-width:2px; border-style:solid; border-color:#CCC; background-color:white;}
.rowsInfoPhotoN07Td2{padding:3px 6px 0 6px; line-height:14px; text-align:center;}

/* upso_list_photo08.html */
/* ---[ 쿠폰업체 정보 ]--- */
.rowsInfoPhotoN08{font-size:12px;color:#E8E8E8; font-weight:600;}
.rowsInfoPhotoN08:hover{color:white; text-decoration:none;}
.rowsInfoPhotoN08TdAll{padding:0 12px 3 0;}
.rowsInfoPhotoN08Td1{padding:5px 4px 4px 4px; text-align:center; background-color:#7A818D;}
.rowsInfoPhotoN08Td2{padding:5px 6px 2px 6px; line-height:14px; text-align:center; font-size:11px;}
.rowsInfoPhotoN08Td3{padding:3px 6px 0 6px; line-height:14px; text-align:center;}
.rowsInfoPhotoN08Td4{width:102px; padding:3px 1px 6px 6px;}
.rowsInfoPhotoN08div{width:86px; height:68px; padding:2px; background-color:white; border-width:1px; border-style:solid; border-color:#BBB;}

/* upso_list_photo09.html */
/* ---[ 프리미엄업체 정보 1 ]----------------[ 서브페이지] */
.rowsInfoPhotoN09{font-size:12px;color:#FFF; font-weight:600;}
.rowsInfoPhotoN09:hover{color:#FFF; text-decoration:underline; }
.rowsInfoPhotoN09Td{padding:4px 0 0 0; color:#EEE; line-height:14px; font-size:11px;}
.rowsInfoPhotoN09div{width:100%;font-size:11px; color:#EEE; text-align:; padding-right:10px; margin:0 0 0 0;}
.rowsInfoPhotoN09div2{color:#DDD; margin:0 0 6px 0;}
.rowsInfoPhotoN09div3{height:40px; color:#DDD; margin:0 0 7px 0; border:0 solid red;}

/* upso_list_photo10.html */
/* ---[ 프리미엄업체 정보 2 ]----------------[ 서브페이지] */
.rowsInfoPhotoN10{font-size:12px;color:#FFF; font-weight:600;}
.rowsInfoPhotoN10:hover{color:#FFF; text-decoration:underline; }
.rowsInfoPhotoN10Td{padding:4px 0 0 0; color:#EEE; line-height:13px; font-size:11px;}
.rowsInfoPhotoN10div{width:100%;font-size:11px; color:#EEE; text-align:; padding-right:10px; margin:7px 0 0 0;}
.rowsInfoPhotoN10div2{color:#DDD; margin:0 0 5px 0;}


/* upso_list_photo11.html */
/* ---[ 인기업체 정보 1 ]----------------[ 서브페이지] */
.rowsInfoPhotoN11{font-size:12px;color:#0072BC; font-weight:600;}
.rowsInfoPhotoN11:hover{text-decoration:none;}
.rowsInfoPhotoN11Td1{padding:1px; border-width:1px; border-style:solid; border-color:#BBB; background-color:white;}
.rowsInfoPhotoN11Td2{padding:3px 6px 0 6px; line-height:15px; text-align:center;}


/* upso_list_photo12.html */
/* ---[ 인기업체 정보 2 ]----------------[ 서브페이지] */
.rowsInfoPhotoN12{font-size:12px;color:#0072BC; font-weight:600;}
.rowsInfoPhotoN12:hover{text-decoration:none; }
.rowsInfoPhotoN12Td{padding:2px 0 0 0; color:#333; line-height:13px; font-size:11px;}
.rowsInfoPhotoN12div{width:95px; height:55px; padding:1px; border-width:1px; border-style:solid; border-color:#CCC; background-color:#FFF;}
.rowsInfoPhotoN12div2{color:#DDD; margin:0 0 5px 0;}

/* upso_list_photo13.html */
/* ---[ 추천업체 정보 1 ]----------------[ 서브페이지] */
.rowsInfoPhotoN13{font-size:12px;color:#037232; font-weight:600;}
.rowsInfoPhotoN13:hover{text-decoration:underline;}
.rowsInfoPhotoN13Td1{padding:2px; border-width:1px; border-style:solid; border-color:#BBB; background-color:white;}
.rowsInfoPhotoN13Td2{padding:3px 6px 0 6px; line-height:15px; text-align:center;}

/* upso_list_photo14.html */
/* ---[ 내가 등록한 업체 정보 1 ]--- */
.rowsInfoPhotoN14{font-size:12px;color:#DA3800; font-weight:600;}
.rowsInfoPhotoN14:hover{text-decoration:none;}
.rowsInfoPhotoN14Cate{font-size:11px;color:#484848;}
.rowsInfoPhotoN14Cate:hover{text-decoration:none;}
.rowsInfoPhotoN14Td1{height:27px; padding:0 1px 4px 1px;}
.rowsInfoPhotoN14Td2{}
.rowsInfoPhotoN14Td3{text-align:center; padding:3px 3px 1px 3px;}
.rowsInfoPhotoN14Td4{padding:2px 0 2px 0; font-size:11px; color:#555;}
.rowsInfoPhotoN14Td5{padding:7px 4px 5px 4px; font-size:11px; color:#555; letter-spacing:0px;}

/* upso_list_photo15.html */
/* ---[ 내가 등록한 업체 정보 2 ]--- */
.rowsInfoPhotoN15{font-size:12px;color:#024F1E; font-weight:600;}
.rowsInfoPhotoN15:hover{text-decoration:none;}
.rowsInfoPhotoN15Td1{background-color:#FFF;}
.rowsInfoPhotoN15Td2{padding:4px 0 0 0; text-align:center;}
.rowsInfoPhotoN15Td3{height:13px; padding:0 0 0 0; text-align:center; color:#555;}
.rowsInfoPhotoN15Td4{height:13px; padding:0 0 0 0; text-align:center; color:#555; letter-spacing:-3px;}

/* upso_list_photo16.html */
/* ---[ 내가 등록한 업체 정보 4 ]--- */
.rowsInfoPhotoN16{font-size:12px;color:#024F1E; font-weight:600;}
.rowsInfoPhotoN16:hover{text-decoration:none;}
.rowsInfoPhotoN16Td1{background-color:#FFF;}
.rowsInfoPhotoN16Td2{padding:4px 0 0 0; text-align:center;}
.rowsInfoPhotoN16Td3{height:13px; padding:0 0 0 0; text-align:center; color:#555;}
.rowsInfoPhotoN16Td4{height:13px; padding:0 0 0 0; text-align:center; color:#555; letter-spacing:-3px;}




/* ================ [ 목록형 ] =================== */
#rowsListPhotoN01Td1Div{width:66px; height:40px; text-align:center; padding:1 1 1 1; border-width:1px; border-style:solid; border-color:#CCC; background-color:white;}
#rowsListPhotoN01Td2Div{width:100%; text-align:center;}
	.rowsListPhotoN01Td2A{}
		.rowsListPhotoN01{font-size:12px;color:#296C32; font-weight:600;}
		.rowsListPhotoN01:hover{color:black; text-decoration:none;}
	.rowsListPhotoN01Td2B{font-size:8pt; color:gray;}
#rowsListPhotoN01Td3Div{width:100%; text-align:center;}
#rowsListPhotoN01Td4Div{width:100%; text-align:center;}
#rowsListPhotoN01Td5Div{width:100%; text-align:left; padding:0 5px 0 5px;}
	.rowsListPhotoN01Td5DivHome{}
.rowsListPhotoTD_separator{width:2px;}


/*  rows_list_myreg_wait.html / rows_list_myreg_waitmod.html / rows_list_myreg_regular.html 공유 항목사항들 */
#rowsListMyRegInfoN01Td1Div{width:66px; height:41px; text-align:; padding:1px 1px 1px 1px; border-width:1px; border-style:solid; border-color:#CCC; background-color:white;}
#rowsListMyRegInfoN01Td2Div{width:100%; text-align:left; padding:0 5px 0 5px;}
	.rowsListMyRegInfoN01Td2s01{font-size:12px;color:#296C32; font-weight:600;}
		.rowsListMyRegInfoN01{color:#005826;}
		.rowsListMyRegInfoN01:hover{color:black; text-decoration:none;}

	.rowsListMyRegInfoN01Td2s02{}
		.rowsListMyRegInfoN01Td2s02s01{font-size:8pt; color:gray; padding:2px 0 0 4px;}

#rowsListMyRegInfoN01Td3Div{width:100%; text-align:left; padding:0 7px 0 7px;}
#rowsListMyRegInfoN01Td4Div{width:100%; text-align:center; padding:0 3px 0 3px;}
{width:100%; text-align:center; padding:0 5px 0 5px;}
	.rowsListMyRegInfoN01Td5DivHome{}
.rowsListMyRegInfoTD_separator{width:2px;}




/* upso_list_rows_photo02.html (사진출력이 되는 리스트형) */
.rowsListPhotoN02Cate{font-size:11px;color:#484848;}
.rowsListPhotoN02Cate:hover{text-decoration:none;}

.rowsListPhotoN02TD1{width:81px; text-align:center;}
	#rowsListPhotoN02Td1Div{width:66px; height:40px; text-align:center; padding:1px; border-width:1px; border-style:solid; border-color:#CCC; background-color:white;}

.rowsListPhotoN02TD2{width:140px; text-align:center;}
	#rowsListPhotoN02Td2Div{width:140px; text-align:center; overflow:hidden;}
		.rowsListPhotoN02Td2A{}
			.rowsListPhotoN02{font-size:12px;color:#296C32; font-weight:600;}
			.rowsListPhotoN02:hover{color:black; text-decoration:none;}

		.rowsListPhotoN02Td2B{letter-spacing:-3px; padding-bottom:0px;}
		.rowsListPhotoN02Td2C{font-family:Tahoma; font-size:11px; color:gray;}

.rowsListPhotoN02TD3{width:75px; font-size:11px; text-align:center; line-height:13px;}
	#rowsListPhotoN02Td3Div{width:100%; text-align:center;}

.rowsListPhotoN02TD4{width:; text-align:;}
	#rowsListPhotoN02Td4Div{width:100%; text-align:left; font-size:11px; color:gray; line-height:13px; padding:0 5px 0 5px;}

.rowsListPhotoN02TD_separator{width:2px;}






/* ================ [ 갤러리 목록형 ] =================== */

/* upso_list_rows_photo_gallery01.html (갤러리형) */
/* ---[ 업체정보 일반목록형 (갤러리형) (사진출력표시 포함) ----------------[ 서브페이지] */
.rowsListPhotoGalleryN02{font-size:12px;color:#0072BC; font-weight:600;}
.rowsListPhotoGalleryN02:hover{text-decoration:none;}
.rowsListPhotoGalleryN02Td1{padding:1px; border-width:1px; border-style:solid; border-color:#BBB; background-color:white;}
.rowsListPhotoGalleryN02Td2{padding:3px 6px 0 6px; line-height:15px; text-align:center; word-break:break-all;}


/* upso_list_rows_photo_coupon01.html (갤러리형) */
/* 쿠폰업체 출력게시물 */
.rowsListPhotoCouponN01{color:#597436; font-family:맑은 고딕, 돋움; font-size:9pt; font-weight:bold;}
.rowsListPhotoCouponN01:hover{color:#F75600; text-decoration:none;}


/* upso_list_rows_photo_reservation.html (갤러리형) */
/* 실시간예약업체 출력게시물 */
.rowsListPhotoReservationN01{color:#F2F2F2; font-family:맑은 고딕, 돋움; font-size:9pt; font-weight:bold;}
.rowsListPhotoReservationN01:hover{color:white; text-decoration:none;}


/* upso_list_rows_photo_scrap01.html (갤러리형) */
#rowsListPhotoScrapN01AllDiv{position:; width:130px; margin-bottom:20px; border:0 solid red;}
	#scrapDelButton{position:absolute; top:-6px; left:8px;}
	.rowsListPhotoScrapN01AllTD{padding:5px 0 0 0; background-color:white;}
	.rowsListPhotoScrapN01Td1{padding:9px 2px 2px 2px; text-align:center;}
	.rowsListPhotoScrapN01Td1Del{height:101px; text-align:center; color:#F76464;}
	.rowsListPhotoScrapN01{font-size:12px;color:#0072BC; font-weight:600;}
	.rowsListPhotoScrapN01:hover{text-decoration:none;}
	.rowsListPhotoScrapN01Td2{text-align:center;}
	.rowsListPhotoScrapN01Td3{text-align:center; padding:3px 0 3px 0; color:#555;}
	.rowsListPhotoScrapN01Td4{height:50px; font-size:8pt; color:gray; line-height:13px; padding:4px 5px 3px 5px;}







/*  게시판 게시물 출력 템플릿파일 [ start ] */
/* ================ [ 갤러리, 포토형 ] =================== */

/* bbs_rows_output_photo_01.html */
/* ---[ 전문가칼럼 : 게시판 ]--- */
.rowsPhotoN01{font-size:11px;color:#003663; font-weight:600;}
.rowsPhotoN01:hover{text-decoration:none;}
.rowsPhotoN01a{font-size:11px; color:#555;}



/* bbs_rows_output_photo_02.html */
/* ---[ 포토갤러리 : 게시판 ]--- */
.rowsPhotoN02{font-size:11px; color:#555;}
.rowsPhotoN02:hover{color:green; text-decoration:none;}


/* bbs_rows_output_photo_03.html */
/* ---[ 여행스케치 : 게시판 ]--- */
.rowsPhotoN03{font-size:11px; color:#555;}
.rowsPhotoN03:hover{color:green; text-decoration:none;}
.rowsPhotoN03Td{padding:3px 0 9px 0; word-break:break-all;}


/* bbs_rows_output_photo_04.html */
/* ---[ 여행스케치 : 게시판 ]--- */
.rowsPhotoN04{font-size:11px; color:#555;}
.rowsPhotoN04:hover{color:green; text-decoration:none;}
.rowsPhotoN04Td{padding:3px 0 9px 0; word-break:break-all;}


/* bbs_rows_output_photo_05.html */
/* ---[ 맛집이야기 : 게시판 ]--- */
.rowsPhotoN05a{margin-bottom:4px;}
.rowsPhotoN05b{font-size:11px; color:#555; line-height:12px;}
.rowsPhotoN05Td{padding:8px 10px 7px 10px; word-break:break-all;}


/* bbs_rows_output_photo_06.html */
/* ---[ 인테리어갤러리 : 게시판 ]--- */
.rowsPhotoN06{color:#003663; font-weight:600; letter-spacing:-1;}
.rowsPhotoN06:hover{text-decoration:none;}
.rowsPhotoN06Td1{padding:5px 6px 4px 6px; word-break:break-all;}
.rowsPhotoN06Td2{padding:1px; border-width:1px; border-style:solid; border-color:#CCC; background-color:#FFF;}
.rowsPhotoN06Td3{padding:5px 7px 8px 7px; color:#555; line-height:14px; font-size:11px; word-break:break-all;}


/* bbs_rows_output_photo_07.html */
/* ---[ 인테리어갤러리 : 게시판 ]--- */
.rowsPhotoN07{color:#003663; font-weight:600; font-size:11px; text-align:justify;}
.rowsPhotoN07:hover{text-decoration:none;}
.rowsPhotoN07Td1{padding:1px; border-width:1px; border-style:solid; border-color:#CCC; background-color:#FFF;}
.rowsPhotoN07Td2{padding:4px 6px 6px 6px; word-break:break-all;}


/* bbs_rows_output_photo_08.html */
/* ---[ 영화이야기 : 게시판 ]--- */
.rowsPhotoN08{color:#003663; font-size:11px; text-align:justify;}
.rowsPhotoN08:hover{text-decoration:none;}
.rowsPhotoN08Td{padding:5px 0 3px 0; text-align:center;}


/* bbs_rows_output_photo_09.html */
/* ---[ 맛집이야기 : 게시판 ]--- */
.rowsPhotoN09{font-size:11px; color:#555;}
.rowsPhotoN09:hover{color:#000; text-decoration:none;}
.rowsPhotoN09Td{padding:3px 0 5px 0; text-align:left; font-size:11px; word-break:break-all;}
#rowsPhotoN09TBL{width:60px;}
#rowsPhotoN09Img{width:60px; border-width:1px; border-style:dotted; border-color:#008040;}



/* bbs_rows_newslist01.html */
/* ---[ 커뮤니티 메인페이지 : 업체뉴스 ]--- */
/* 제목글자 설정 */
.bbs_rows_title_newslist01{font-family:맑은 고딕,돋움; font-size:14pt; font-weight:bold; letter-spacing:-1px;}
.bbs_rows_title_newslist01:hover{text-decoration:none;}

/* 카테고리명 표시글자 설정 */
.bbs_category_newslist01{color:#E36203; font-size:8pt;}
.bbs_category_newslist01:hover{text-decoration:none;}



/* bbs_rows_photogallery01.html */
/* ---[ 커뮤니티 메인페이지 : 포토뉴스 ]--- */
/* 제목글자 설정 */
.bbs_rows_title_photogallery01{font-family:맑은 고딕,돋움; font-size:10pt; font-weight:100; letter-spacing:-1px;}
.bbs_rows_title_photogallery01:hover{text-decoration:none;}
/* 카테고리명 표시글자 설정 */
.bbs_category_photogallery01{color:#E36203; font-size:8pt;}
.bbs_category_photogallery01:hover{text-decoration:none;}



/* bbs_rows_photogallery02.html */
/* ---[ 커뮤니티 메인페이지 : 맛집이야기 ]--- */
/* 제목글자 설정 */
.bbs_rows_title_photogallery02{font-family:돋움; font-size:12px; font-weight:100; letter-spacing:0px;}
.bbs_rows_title_photogallery02:hover{text-decoration:none;}



/* bbs_rows_photogallery03.html */
/* ---[ 커뮤니티 메인페이지 : 구인정보게시판 ]--- */
/* 제목글자 설정 */
.bbs_rows_title_photogallery03{font-family:맑은 고딕,돋움; font-size:12px; color:#005826; font-weight:100; line-height:13px; letter-spacing:-1px;}
.bbs_rows_title_photogallery03:hover{text-decoration:underline;}




/* bbs_rows_photogallery04.html / bbs_rows_movie.html (영화이야기 목록부분에 사용됨) */
/* ---[ 커뮤니티 메인페이지 : 영화이야기 내용 1 ]--- */
/* 제목글자 설정 */
.bbs_rows_title_photogallery04{font-family:맑은 고딕,돋움; font-size:12px; font-weight:bold; line-height:13px; letter-spacing:-1px;}
.bbs_rows_title_photogallery04:hover{text-decoration:none;}



/* bbs_rows_photogallery05.html */
/* ---[ 커뮤니티 메인페이지 : 영화이야기 내용 2 ]--- */
/* 제목글자 설정 */
.bbs_rows_title_photogallery05{font-family:맑은 고딕,돋움; font-size:12px; font-weight:bold; line-height:13px; letter-spacing:0px;}
.bbs_rows_title_photogallery05:hover{text-decoration:none;}


/* bbs_rows_photogallery06.html */
/* ---[ 커뮤니티 메인페이지 : 영화이야기 내용 3 ]--- */
/* 제목글자 설정 */
.bbs_rows_title_photogallery06{font-family:맑은 고딕,돋움; font-size:12px; font-weight:bold; line-height:13px; letter-spacing:0px;}
.bbs_rows_title_photogallery06:hover{text-decoration:none;}




/* bbs_rows_photogallery07.html */
/* ---[ 커뮤니티 메인페이지 : 여행스케치 내용 1 ]--- */
/* 제목글자 설정 */
.bbs_rows_title_photogallery07{font-family:맑은 고딕,돋움; font-size:12px; font-weight:bold; line-height:13px; letter-spacing:0px;}
.bbs_rows_title_photogallery07:hover{text-decoration:none;}



/* bbs_rows_photogallery08.html */
/* ---[ 커뮤니티 메인페이지 : 여행스케치 내용 2 ]--- */
/* 제목글자 설정 */
.bbs_rows_title_photogallery08{font-family:맑은 고딕,돋움; font-size:12px; font-weight:100; line-height:13px; letter-spacing:0px;}
.bbs_rows_title_photogallery08:hover{text-decoration:none;}



/* bbs_rows_photogallery09.html */
/* ---[ 커뮤니티 메인페이지 : 인테리어 갤러리 / 재밌는사진 ]--- */
/* 제목글자 설정 */
.bbs_rows_title_photogallery09{font-family:맑은 고딕,돋움; font-size:12px; font-weight:100; line-height:13px; letter-spacing:0px; padding:5px;}
.bbs_rows_title_photogallery09:hover{text-decoration:none;}


/* bbs_rows_photogallery10.html */
/* ---[ 커뮤니티 메인페이지 : 추천하고 싶은 장소 내용 1 ]--- */
/* 제목글자 설정 */
.bbs_rows_title_photogallery10{font-family:맑은 고딕,돋움; font-size:12px; font-weight:bold; line-height:13px; letter-spacing:0px;}
.bbs_rows_title_photogallery10:hover{text-decoration:none;}


/* bbs_rows_photogallery11.html */
/* ---[ 커뮤니티 메인페이지 : 추천하고 싶은 장소 내용 2 ]--- */
/* 제목글자 설정 */
.bbs_rows_title_photogallery11{font-family:맑은 고딕,돋움; font-size:12px; font-weight:bold; line-height:13px; letter-spacing:0px;}
.bbs_rows_title_photogallery1:hover{text-decoration:none;}


/* bbs_rows_photolist01.html */
/* ---[ 커뮤니티 메인페이지 : 구직정보게시판 ]--- */

/* 제목글자 설정 */
.bbs_rows_title_photolist01{font-family:맑은 고딕,돋움; font-size:12px; color:#005826; font-weight:bold; line-height:13px; letter-spacing:0px;}
.bbs_rows_title_photolist01:hover{text-decoration:underline;}



/* bbs_rows_photolist02.html */
/* ---[ 커뮤니티 메인페이지 : 전문가칼럼게시판 ]--- */

/* 제목글자 설정 */
.bbs_rows_title_photolist02{font-family:맑은 고딕,돋움; font-size:12px; color:#005826; font-weight:bold; line-height:13px; letter-spacing:-1px;}
.bbs_rows_title_photolist02:hover{text-decoration:underline;}




/* ================ [ 목록형 ] =================== */

/* bbs_rows_output_01.html */
/* ---[ 일일조회 TOP 5 ]--- */ /* ---[ 전문가칼럼 : 게시판 ]--- */ /* ---[ 우리끼리 묻고답해요 : 게시판 ]--- */
.rowsN01{font-size:11px; color:#003663; font-weight:100}
.rowsN01:hover{text-decoration:none;}
.rowsN01Td{letter-spacing:-1px;}

/* bbs_rows_output_02.html */
/* ---[ 구인정보,구직정보 : 게시판 ]--- */
.rowsN02{font-size:12px;}


/* bbs_rows_output_03.html */
 /* ---[ 공지사항 : 게시판 ]--- */
.rowsN03Td{letter-spacing:-1px;}


/* bbs_rows_output_04.html */
 /* ---[ 유머이야기 : 게시판 ]--- */
.rowsN04{font-size:11px; color:#003663; font-weight:100}
.rowsN04Td{letter-spacing:-1px; height:21px; padding-top:2px;}
.rowsN04Td2{color:#FF4E00; text-align:right;}
.rowsN05Td{letter-spacing:-1px; font-size:13px; height:21px;}
.rowsN06Td{letter-spacing:0px; font-size:13px; height:21px;}
.rowsN06TdN02{text-align:right; color:gray;}

.rowsN06Td_a{letter-spacing:0px; font-size:13px; height:19px; font-weight:600;}

/* bbs_rows_output_07.html */
.rowsN07Td{letter-spacing:0px; font-size:13px; height:27px;}


/* 제목글자 설정 */
.bbs_rows_title_list01{font-family:돋움; font-size:9pt; font-weight:100; letter-spacing:0px;}
.bbs_rows_title_list01:hover{text-decoration:none;}

/* 카테고리명 표시글자 설정 */
.bbs_category_list01{color:#E36203; font-size:8pt;}
.bbs_category_list01:hover{text-decoration:none;}


/* bbs_rows_list02.html */
 /* ---[ 커뮤니티 메인페이지 - 부동산뉴스 게시판 ]--- */

/* 제목글자 설정 */
.bbs_rows_title_list02{font-family:돋움; font-size:9pt; font-weight:100; letter-spacing:0px;}
.bbs_rows_title_list02:hover{text-decoration:none;}


/* bbs_rows_list03.html */
 /* ---[ 커뮤니티 메인페이지 - 창업뉴스 게시판 ]--- */

/* 제목글자 설정 */
.bbs_rows_title_list03{font-family:돋움; font-size:9pt; font-weight:100; letter-spacing:0px;}
.bbs_rows_title_list03:hover{text-decoration:none;}


/* bbs_rows_list04.html */
 /* ---[ 커뮤니티 메인페이지 - 웃음충전 / 우리끼리 묻고답해요 게시판 ]--- */

/* 제목글자 설정 */
.bbs_rows_title_list04{font-family:돋움; font-size:9pt; font-weight:100; letter-spacing:0px;}
.bbs_rows_title_list04:hover{text-decoration:none;}


/* bbs_rows_list05.html */
 /* ---[ 커뮤니티 메인페이지 - 이벤트 / 창업이야기 게시판 ]--- */

/* 제목글자 설정 */
.bbs_rows_title_list05{font-family:돋움; font-size:9pt; font-weight:100; letter-spacing:0px;}
.bbs_rows_title_list05:hover{text-decoration:none;}


/* bbs_rows_list06.html */
 /* ---[ 커뮤니티 메인페이지 - 자유게시판 게시판 ]--- */

/* 제목글자 설정 */
.bbs_rows_title_list06{font-family:돋움; font-size:9pt; font-weight:100; letter-spacing:0px;}
.bbs_rows_title_list06:hover{text-decoration:none;}


/* bbs_rows_list_normal.html */
 /* ---[ 커뮤니티 리스트페이지 - 일반목록형 ]--- */

/* 제목글자 설정 */
.bbs_rows_title_list_normal{font-family:돋움; font-size:9pt; font-weight:100; letter-spacing:0px;}
.bbs_rows_title_list_normal:hover{text-decoration:none;}